body{
font-family:Arial;
background:#fff0f5;
padding:20px
}
.app{
max-width:500px;
margin:auto
}
.card{
background:white;
padding:20px;
margin:15px 0;
border-radius:20px;
box-shadow:0 5px 20px #ddd
}
input,select,button{
width:100%;
padding:12px;
margin:6px 0;
border-radius:12px;
border:1px solid #ddd
}
button{
background:#d56b91;
color:white;
border:0
}
.row{
display:flex;
gap:10px
}
